- Root mean squared error (RMSE): La raiz cuadrada de la media del error al cuadrado. Métrica para comparar modelos de regresión
- Residual standard error (RSE): Los mismo que RMSE, solo que ajustado a los grados de libertad.
- R-squared (coefficient of determination, r2): La proporción de la varianza explicada por el modelo, rango entre 0 y 1
- t-statistic: El coeficiente para un predictor, dividido por el error estándar del coeficiente. Nos da una métrica para comparar la importancia de las variables en el modelo.
- Weighted regression: La regresión con los registros teniendo diferentes pesos.

In [11]:
import pandas as pd

In [12]:
house_task = pd.read_csv("./Datasets/housetasks.csv", index_col = 0)
house_task

           Wife  Alternating  Husband  Jointly
Task
Laundry     156           14        2        4
Main_meal   124           20        5        4
Dinner       77           11        7       13
Breakfast    82           36       15        7
Tidying      53           11        1       57
Dishes       32           24        4       53
Shopping     33           23        9       55
Official     12           46       23       15
Driving      10           51       75        3
Finances     13           13       21       66
Insurance     8            1       53       77
Repairs       0            3      160        2
Holidays      0            1        6      153

In [21]:
lung_disease = pd.read_csv("./Datasets/LungDisease.csv", index_col = 0)
lung_disease

      Exposure
PEFR
390          0
410          0
430          0
460          0
420          1
...        ...
450         22
490         22
500         22
370         23
390         23

[122 rows x 1 columns]