- Root mean squared error (RMSE): La raiz cuadrada de la media del error al cuadrado. Métrica para comparar modelos de regresión
- Residual standard error (RSE): Los mismo que RMSE, solo que ajustado a los grados de libertad.
- R-squared (coefficient of determination, r2): La proporción de la varianza explicada por el modelo, rango entre 0 y 1
- t-statistic: El coeficiente para un predictor, dividido por el error estándar del coeficiente. Nos da una métrica para comparar la importancia de las variables en el modelo.
- Weighted regression: La regresión con los registros teniendo diferentes pesos.

In [37]:
import pandas as pd

In [38]:
house_task = pd.read_csv("./Datasets/housetasks.csv", index_col = 0)
house_task

           Wife  Alternating  Husband  Jointly
Task
Laundry     156           14        2        4
Main_meal   124           20        5        4
Dinner       77           11        7       13
Breakfast    82           36       15        7
Tidying      53           11        1       57
Dishes       32           24        4       53
Shopping     33           23        9       55
Official     12           46       23       15
Driving      10           51       75        3
Finances     13           13       21       66
Insurance     8            1       53       77
Repairs       0            3      160        2
Holidays      0            1        6      153

In [39]:
lung_disease = pd.read_csv("./Datasets/LungDisease.csv", index_col = 0)
lung_disease

      Exposure
PEFR
390          0
410          0
430          0
460          0
420          1
...        ...
450         22
490         22
500         22
370         23
390         23

[122 rows x 1 columns]

In [40]:
houses_sale = pd.read_csv("./Datasets/house_sales.csv", sep="\t")
houses_sale

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
1,2014-09-16,280000,1000102,Multiplex,2014-09-01,405100,0.930836,300805.0,2,9373,...,3.00,6,7,1991,0,0,70000,229000,98002,False
2,2006-06-16,1000000,1200013,Single Family,2006-06-01,404400,0.929228,1076162.0,1,20156,...,3.75,4,10,2005,0,0,203000,590000,98166,True
3,2007-01-29,745000,1200019,Single Family,2007-01-01,425600,0.977941,761805.0,1,26036,...,1.75,4,8,1947,0,0,183000,275000,98166,False
4,2008-02-25,425000,2800016,Single Family,2008-02-01,418400,0.961397,442065.0,1,8618,...,3.75,5,7,1966,0,0,104000,229000,98168,False
5,2013-03-29,240000,2800024,Single Family,2013-03-01,351600,0.807904,297065.0,1,8620,...,1.75,4,7,1948,0,0,104000,205000,98168,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27057,2011-04-08,325000,9842300710,Single Family,2011-04-01,318700,0.732307,443803.0,1,5468,...,1.75,3,7,1951,0,0,201000,172000,98126,False
27058,2007-09-28,1580000,9845500010,Single Family,2007-09-01,433500,0.996094,1586196.0,1,23914,...,4.50,4,11,2000,0,1,703000,951000,98040,False
27061,2012-07-09,165000,9899200010,Single Family,2012-07-01,325300,0.747472,220744.0,1,11170,...,1.00,4,6,1971,0,0,92000,130000,98055,False
27062,2006-05-26,315000,9900000355,Single Family,2006-05-01,400600,0.920496,342207.0,1,6223,...,2.00,3,7,1939,0,0,103000,212000,98166,False
27063,2007-01-09,465000,9906000035,Single Family,2007-01-01,425600,0.977941,475489.0,1,4400,...,1.50,3,7,1928,0,0,311000,268000,98103,False

In [41]:
filtro = ["AdjSalePrice", "SqFtTotLiving", "SqFtLot", "Bathrooms", "Bedrooms"]
houses_sale = houses_sale[filtro]
houses_sale

       AdjSalePrice  SqFtTotLiving  SqFtLot  Bathrooms  Bedrooms
1          300805.0           2400     9373       3.00         6
2         1076162.0           3764    20156       3.75         4
3          761805.0           2060    26036       1.75         4
4          442065.0           3200     8618       3.75         5
5          297065.0           1720     8620       1.75         4
...             ...            ...      ...        ...       ...
27057      443803.0           1480     5468       1.75         3
27058     1586196.0           4720    23914       4.50         4
27061      220744.0           1070    11170       1.00         4
27062      342207.0           1345     6223       2.00         3
27063      475489.0            790     4400       1.50         3

[22687 rows x 5 columns]

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [43]:
predictors = ["SqFtTotLiving", "SqFtLot", "Bathrooms", "Bedrooms"]
outcome = "AdjSalePrice"

house_lm = LinearRegression()
house_lm.fit(houses_sale[predictors], houses_sale[outcome])

LinearRegression()

In [44]:
print("Intercept: ", house_lm.intercept_)

for name, coef in zip(predictors, house_lm.coef_):
    print(name, coef)

Intercept:  96960.38147618482
SqFtTotLiving 327.825259518635
SqFtLot -0.08468587956198181
Bathrooms 13256.963751401245
Bedrooms -71714.78530489154

In [45]:
filtted = house_lm.predict(houses_sale[predictors])

RMSE = np.sqrt(mean_squared_error(houses_sale[outcome], filtted))

r2 = r2_score(houses_sale[outcome], filtted)

RMSE

272275.56614813645

In [ ]:
# Predecir el valor de una casa con estas caracteristicas:
# "SqFtTotLiving" : 2000
# "SqFtLot" : 9000
# "Bathrooms": 4
# "Bedrooms" 5